body {
  background-color:#ffce47 ;
}

header{
  background-color:#ffce47;
  text-align: center;
}

header h1 {
  padding:1rem;
  /* background-color:; */
}

.top-wrapper　{
  background-color:snow ;
  text-align: center;
}
