body {
  background-color:#ffce47 ;
}

header{
  background-color:#ffce47;
  text-align: center;
}

header h1 {
  padding:1rem;
  /* background-color:; */
}

.top-wrapper-bg {
  background-color:#ef3c66;
  color:white;
}

.mac-daw p .win-daw p .ds-daw p {
  background-color:rgba(0,0,0,.5);
}
