body {
  background-color:#ffce47 ;
}

header{
  background-color:#ffce47;
  text-align: center;
}

header h1 {
  padding:1rem;
  /* background-color:; */
}

.top-wrapper-bg {
  background-color:#ef3c66;
}

.top-wrapper　{
  color:white;
  text-align: center;
}
